*{
    margin: 0;
    padding: 0;
    
}
.box{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 211, 218);
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
   

}
.logo{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.log{
    width: 150px;
    cursor: pointer;
    color: white;
    font-style: normal;
    font-weight: bolder;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 25px;
}
nav{
    flex: 1;
    padding-right: 60px;
    
}
nav ul {
    float: right;
    list-style: none;
    margin-top: 25px;
}
nav ul li{
    display: inline-block;
    justify-content: right;
    list-style: none;
    margin: 0 20px; 
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.content h2{
    font-size: 60px;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 15px;
    color: white;

}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .txt{
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}
.content .txt2{
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    box-sizing: border-box;
    color: black;
    
    
}
.link{
    transform: none;
    position: absolute;
    left: 80px;
    bottom: 80px;
    
}
.link a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 20px;
}
.features{
    position: absolute;
    bottom: 232px;
    right: 70px;
   
}
.jo{
    border: 1px solid white;
    
   
}

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border-right: none;
    padding: 10px;
    height: 20px;
    color: #786879;
  }
  
  .wrap{
    width: 30%;
    position: absolute;
    margin-top: 5%;
    margin-right: 50%;
   
  }

 .me{
    color: white;
    font-size: 25px;
    transform: none;
    position: absolute;
    right: 90px;
    bottom: 20px;
    
 }